

<div class="container-fluid">
   <div class="row main-container">
    <div class="jumbtron todo app  p-5 text-white poppins-semibold"> TODO APP</div>
  
  <div class="row mt-4">
     <div class="col-sm-8 todotable poppins-semibold">
    <table class="">
      <thead>
        <th>Sno</th>
        <th>Program name</th>
        <th>date</th>
        <th>tags</th>
      </thead>
      <tbody>
        @for ( item of taskList; track 'itemId' ) {
        <tr>
          <td class="p1-20">{{$index}}</td>
          <td class="d-flex"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> <p class="p1-20">{{item.taskName}} </p>
         
          </td>
          <td> {{item.dueDate | date:'dd-MMM-yyyy'}}</td>
          <td><button type="button" class="btn btn-border" (click)="onEdit(item)">Edit</button></td>
        </tr>
        }
        
      </tbody>
    </table>
  </div>
    <div class="col-sm-4 todofield poppins-semibold">
      <input type="text" class="form-control" placeholder="Task Name" [(ngModel)]="taskObj.taskName">
      <textarea class="form-control" placeholder="Task Description" [(ngModel)]="taskObj.taskDescription" ></textarea>
      <input type="date" class="form-control" placeholder="Due Date" [(ngModel)]="taskObj.dueDate" >
      <input type="text" value="text" class="form-control" placeholder="Enter Comma separated tags" [(ngModel)]="taskObj.tags" >
      <button type="button" class="btn btn-primary sub" (click)="addTask()">Add Task</button>
    </div>
 
 
   </div>
   </div>
</div>
<router-outlet />
